<!DOCTYPE html>
<html>

<head>
    <title>AI Mock Interviewer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>AI Mock Interviewer</h1>

    <h2>Question</h2>

    <p>{{ question }}</p>

    <form action="/evaluate" method="POST">

        <textarea
        name="answer"
        placeholder="Type your answer..."
        required></textarea>

        <br>

        <button type="submit">
            Submit Answer
        </button>

    </form>

    {% if feedback %}

    <div class="feedback">

        <h3>Feedback</h3>

        <p>{{ feedback }}</p>

    </div>

    {% endif %}

</div>

</body>
</html>